.app{
  justify-content: center;
  align-items: center;
  margin:200px;
  margin-left: 450px;
}

.box{
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 40vh;
  width: 40vw;
  box-shadow: 10px 10px 10px 10px  rgb(141, 138, 138);
}

h1{
  color: white;
  padding: 75px;
  font-size: 100px;
  
}

.box:hover{
  transform: scale(1.1);
}